
border: 1px solid #d60027; border-left-width:6px;
border: 1px solid #ec5315; border-left-width:6px;
border: 1px solid #ffd700; border-left-width:6px;
border: 1px solid #aec516; border-left-width:6px;
border: 1px solid #009431; border-left-width:6px;
border: 1px solid #0084b6; border-left-width:6px;
